.snake-background { background-image: linear-gradient(to bottom right, #194A40, #4D7850, #9CCA91) }
.button.snake-background:hover { background-image: linear-gradient(to bottom right, #11332C, #416644, #8BB381) }
.button.is-snake {
    background-color: rgba(156, 202, 145, 0.2);
    color: #4D7850;
    border-color: #4D7850;
}
textarea.is-snake { border-color: #4D7850; }
a.navbar-item:hover { background-color: rgba(0, 0, 0, 0.2) !important; }
.avatar {
    width: 64px; height: 64px;
     border: 1px solid gray;
     display: inline-block;
    border-radius: 9999px;
    margin-right: 20px;
}
.avatar-md {
    width: 50px; height: 50px;
}
.avatar-sm {
    width: 25px; height: 25px;
    margin-bottom: -8px;
}


/* -------------------- */
/*  PREDEFINED AVATARS  */
/* -------------------- */
.avatar.sisi, .avatar.sinaloae { background-image: linear-gradient(to bottom right, #B6402A 30%, #1E2118 55%, #EBCB61 80%); }
.avatar.snake, .avatar.python { background-image: linear-gradient(to bottom right, #525D6C 30%, #78713B 60%, #D3DCD8 90%); }
.avatar.serpent, .avatar.ahaetulla { background-image: linear-gradient(to bottom right, #637A2B 30%, #AAC346 60%, #E0E788 90%); }
.avatar.swen, .avatar.foxii { background-image: linear-gradient(to bottom right, #5A7E8D 40%, #A4C5DC 60%); }
.avatar.scarlet, .avatar.pallida { background-image: linear-gradient(to bottom right, #A9090F 25%, #E4411D 60%, #F67A2C 90%); }

.avatar.hatchling  { background-image: linear-gradient(to bottom right, #955F81 25%, #887E99 60%, #6F6F38 90%); }
.avatar.hatchling2 { background-image: linear-gradient(to bottom right, #8E673F 25%, #BE9169 60%, #E1BD8A 90%); }
.avatar.hatchling3 { background-image: linear-gradient(to bottom right, #CBA401 40%, #F3C101 60%); }
.avatar.hatchling4 { background-image: linear-gradient(to bottom right, #366B67 25%, #51837E 60%, #789F9E 90%); }
.avatar.hatchling5 { background-image: linear-gradient(to bottom right, #136544, #085C5D, #07616C, #125791); }