{% extends 'base.html' %}

{% block content %}
    <div class="column">
        {% for sweet in sweets %}
            <div class="box">
                {{ sweet.content }}
                <span class="is-small has-text-grey-light">
                    {{ sweet.created_at }} by {{ sweet.user.username }}
                </span>
            </div>
        {% endfor %}
    </div>

    <div class="column is-one-third">
        <div class="block">
            <a href="{% url 'switter:profile_list' %} ">
                <button class="button is-dark is-outlined is-fullwidth">
                    All Profiles
                </button>
            </a>
        </div>

        <div class="block">
            <a href="{% url 'switter:profile' request.user.profile.id %} ">
                <button class="button is-success is-snake is-light is-fullwidth">
                    My Profile
                </button>
            </a>
        </div>

        <div class="block">
            <div class="block">
                <h3 class="title is-3">Add a Sweet</h3>
            </div>
            <div class="block">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-success is-fullwidth is-medium mt-5 snake-background" type="submit">Sweet</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}