{% extends 'base.html' %}

{% block content %}
<div class="column is-3 is-offset-4">
    <h2 class="title is-2 has-text-centered">Log as</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
              <input id="id_username" name="username" class="input has-text-centered" type="text" value="{{ random_username }}" autocomplete="off" maxlength="150" required="true">
            </div>
            <div class="control">
                <a href="{% url 'switter:login_as' %}" class="button is-succes is-snake">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg>
                </a>
            </div>
        </div>
        <button class="button is-success is-fullwidth is-medium mt-5 snake-background" type="submit">Login</button>
    </form>

</div>
{% endblock %}